.attribute-container {
    padding-bottom: 0.2vh;
    border-radius: 0.6vh;
    margin: -2px;

    &.color-green {
        background: rgba(0, 64, 73, 0.75);
        border: solid 0.1vh #2c8998;
    }
    
    &.color-purple {
        background: rgba(73, 59, 114, 0.75);
        border: solid 0.1vh #b594ff;
    }
    
    &.color-blue {
        background: rgb(21, 65, 99, 0.75);
        border: solid 0.1vh #56a2e8;
    }

}