.attribute-container {
    padding-bottom: 2px;
    border-radius: 8px;
    margin: -2px;

    &.color-green {
        background: rgba(0, 64, 73, 0.75);
        border: solid 1.3px #2c8998;
    }
    
    &.color-purple {
        background: rgba(73, 59, 114, 0.75);
        border: solid 1.3px #b594ff;
    }

}