.statistic {
    display: flex;
    align-items: flex-start;

    &.direction-column {
        flex-direction: column;
        &.align-end {
            flex-direction: column-reverse;
        }  
    }
    
    &.direction-row {
        flex-direction: row;    
        &.align-end {
            flex-direction: row-reverse;
        } 
    }

    .statistic-title {
        font-size: calc(var(--font-size) * 1);
        padding: 0 0.3vh;
    }

    .progression {
        display: flex;
        gap: 0.03vh;
        padding: 0 0.3vh;
    }
}